.cart-card-main{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
}

.cart-card-left{
    width: 30%;
    margin-bottom: 1rem;
}

.cart-img{
    width: 75%;
    height: 100%;
}

.cart-card-right{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cart-container-info{
    width: 80%;
}

.cart-product-info{
    display: flex;
    flex-direction: column;
}

.info-cart{
    margin-bottom: 1.5rem;
}

.cart-container-price{
    text-align: end;
    width: 20%;
}

.cart-product-total{
    margin-right: 3rem;
}