.productCard-up{
    width: 100%;
    height: auto;
}

.imgBox {
    box-shadow:inset 0 0 10px #2B2D42;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImg {
    padding: 9%;
    width: 8rem;
    height: 11rem;
}

.productCard-down {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contentBox{
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 1rem;
    word-break: break-all;
}

.productTitle{
    font-size: 15px;
    width: 90%;
}


.description{
    border-top: 2px solid #f3f313;
    margin: 1rem 1.5rem 1rem;
    font-weight: 330;
    
}

.content-btn {
    background: #f3f313 !important;
}

.price {
    font-style: italic;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}