.nav {
    justify-content: space-between;
    color: #F8F7F9;
    background: #2B2D42;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3rem;
}

.nav-animation{
    transition: transform 100ms ease-in-out;
}

.nav-animation:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.navOptions:link,
.navOptions:visited,
.navOptions:active {
    text-decoration: none;
    text-decoration-style: none;
    color: #F8F7F9;
}

.btn-white{
    background-color: white !important;;
}