.footer {
    background: #2B2D42;
    color: #fff;
    height: auto;
}

.footer-info {
    --bs-gutter-x: 0 !important;
}

.footer-logo{
    text-align: center;
    width: 15%;
}

.footer-containers{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: #f3f313 3px solid;
    }

.footer-element{
    width: 22%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.fooTitle{
    width: fit-content;
    margin-top: 10px;
    transition: transform 330ms ease-in-out;
    cursor: pointer;
}

.fooTitle:hover{
    transform: scale(1.1);
    color: #f3f313;
}

.footer-logo:hover{
    cursor: pointer;
    color: #f3f313;
}

.socials{
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 0 3rem;
}

.containerLogos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialLogo{
    width: 40px;
    height: auto;
    margin-right: 2rem;
    transition: transform 330ms ease-in-out;
    box-shadow: 0 0 200px #fff;
    border-radius: 15px;
    cursor: pointer;
}

.socialLogo:hover{
    transform: scale(1.5);
}

.copyright{
    font-size: 10px;
    text-align: center;
}

