.title-animation {
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
    color: #F8F7F9;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 25px #2B2D42;
}

@media all and (max-width: 2000px) {

    .title-animation {
        font-size: 4rem;
    }
}

@media all and (max-width: 1250px) {

    .title-animation {
        font-size: 3rem;
    }
}

@media all and (max-width: 1000px) {

    .title-animation {
        font-size: 2rem;
    }
}

@media all and (max-width: 650px) {

    .title-animation {
        font-size: 1.2rem;
    }
    .mainBody h1{
        font-size: 1.6rem;
    }
}

@media all and (max-width: 400px) {

    .title-animation {
        font-size: 1rem;
    }

    .mainBody h1 {
        font-size: 1.6rem;
        
    }
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.mainBody h1{
    padding: 1rem;
    border-radius: 10px;
    background-color: #2B2D42;   
    color: #F8F7F9;
}

.merchandising-image {
    width: 50%;
}

@media screen and (max-width: 992px) {
    .merchandising-image {
        width: 100%;
    }
}

p{
    text-align: justify;
}

.btn-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

