.mainContainer{
    display:grid;
    align-items: center;
    justify-content: center;
}

.containerForm {
    background: linear-gradient(300deg, #F8F7F9 80%,#f3f313 50%);
    opacity: 0.8;
    border: 3px solid #2B2D42;
    border-radius: 10px;
    width: 70vh;
    height: 70vh;
    margin-top: 8%;
    box-sizing: border-box;
    box-shadow: 0 0 25px #2B2D42;
}

#content{
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fields{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.fields legend{
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: black 2px solid;
    transition: all 0.3s ease;
}

input:focus{
    outline: none;
    transform: scale(1.06);
}

input::placeholder{
    color: black;
}

#content form{
    margin-bottom: 1rem;
}

#resetPassword{
    color: rgb(35, 35, 252);
    width: 11rem;
}
